<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2012/10/Food.jpg);">
  <div class="container">
      <h1>Find Restaurants</h1>
      <a class="btn btn-danger" href="#">I'm hungry</a>
  </div>
</div>

  <div class="container">
    <h2 style="text-align: center;">About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nihil animi a in, cum tempora, esse quae doloremque magnam ducimus iste molestias vitae accusantium explicabo necessitatibus, hic nemo numquam! Tempora.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus repellat iste reprehenderit doloremque tempora. Commodi vitae, autem praesentium deserunt perferendis? Mollitia maxime at voluptates voluptas, hic ducimus. Eius, vitae!</p>
  </div>
